.text-center {
  text-align: center;
}

#app {
  margin-bottom: 100px;
}

#navigation {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 90%;
  background-color: white;
  font-size: 0.9rem;
}

#navigation ul li:before, #skills li:before {
  content: "";
}

h2 {
	font-size: 2.5rem;
}