.text-center {
  text-align: center;
}

#app {
  margin-bottom: 100px;
}

#navigation {
  position: fixed;
  bottom: 0;
  right: 8px;
  min-width: 50%;
  max-width: 80%;
  background-color: white;
}

#navigation ul li:before, #skills li:before {
  content: "";
}